<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/normal" routerDirection="forward"
    >Launch Normal Page</ion-button
  >
  <ion-button routerLink="/slow" routerDirection="forward"
    >Launch Slow Page</ion-button
  >
</ion-content>
